.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; content: ""
}
.clearfix {
	ZOOM: 1
}
IMG {
	VERTICAL-ALIGN: top
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000; TEXT-DECORATION: none
}
BODY {
	BACKGROUND: #fff
}
.wrapper {
	MARGIN: 0px auto; WIDTH: 960px
}
.dConL {
	FLOAT: left
}
.dConR {
	FLOAT: right
}
#content {
	BACKGROUND: url(con_bg02.gif) repeat-y 0px 0px
}
.dLine1 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(con_bg02.gif) no-repeat -960px 0px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.wrapper .dConL {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; WIDTH: 540px; PADDING-TOP: 20px
}
.wrapper .dConR {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 20px; WIDTH: 315px; PADDING-TOP: 20px
}
#crumb {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 12px; OVERFLOW: hidden; WHITE-SPACE: nowrap
}
#crumb STRONG {
	FONT-WEIGHT: bold; FLOAT: left
}
#crumb A {
	PADDING-RIGHT: 13px; BACKGROUND: url(con_bg01.gif) no-repeat right -76px; FLOAT: left; MARGIN-RIGHT: 7px
}
#ad01 {
	MARGIN-BOTTOM: 12px; OVERFLOW: hidden; WIDTH: 540px
}
#subMenu {
	FONT-SIZE: 12px; BACKGROUND: url(con_dot_3x1.gif) repeat-x 0px bottom; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 540px
}
#subMenu UL {
	FLOAT: left; MARGIN-LEFT: -49px; OVERFLOW: hidden
}
#subMenu LI {
	DISPLAY: inline; PADDING-LEFT: 13px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -108px; FLOAT: left; MARGIN-LEFT: 50px
}
H1 {
	CLEAR: both; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 22px; MARGIN: 50px auto 14px; TEXT-ALIGN: center
}
#msg {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-ALIGN: center
}
#msg .sTime {
	MARGIN-RIGHT: 3em
}
#msg .sAuthor {
	MARGIN-LEFT: 1em
}
#sjbReg {
	FONT-SIZE: 12px; BACKGROUND: #f1f1f1; MARGIN: 45px 3px 55px; COLOR: #919191; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: center
}
#main {
	FONT-SIZE: 14px; LINE-HEIGHT: 24px
}
#main P {
	MARGIN-BOTTOM: 20px
}
#main A {
	MARGIN: 0px 5px; COLOR: #0694e5; TEXT-DECORATION: underline
}
#main A:visited {
	MARGIN: 0px 5px; COLOR: #0694e5; TEXT-DECORATION: underline
}
#editer {
	PADDING-RIGHT: 1em; MARGIN-TOP: 40px; FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-ALIGN: right
}
#main #pageNext {
	CLEAR: both; FONT-SIZE: 12px; MARGIN: 50px auto 0px; OVERFLOW: hidden; LINE-HEIGHT: 18px; TEXT-ALIGN: center
}
#main #pageNext DIV {
	BORDER-RIGHT: #f3f3f3 1px solid; BORDER-TOP: #f3f3f3 1px solid; BACKGROUND: #f7f7f7; FLOAT: left; MARGIN: 0px 3px 10px; BORDER-LEFT: #f3f3f3 1px solid; BORDER-BOTTOM: #f3f3f3 1px solid
}
#main #pageNext .nored {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #999; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#main #pageNext A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999999; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#main #pageNext A:visited {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999999; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#main #pageNext A:hover {
	BACKGROUND: #06b1e6; COLOR: #fff
}
#pageArea {
	CLEAR: both; FONT-SIZE: 12px; BACKGROUND: url(con_bg04.gif) repeat-x 0px -750px; MARGIN: 50px auto 0px; OVERFLOW: hidden; LINE-HEIGHT: 32px; HEIGHT: 32px; TEXT-ALIGN: center
}
#pageArea A {
	MARGIN: 0px 4px
}
#pageArea A:visited {
	MARGIN: 0px 4px
}
#pageArea STRONG {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 5px; COLOR: #999; TEXT-DECORATION: underline
}
#pageArea #pageDec {
	FLOAT: left; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 345px
}
#pageArea #pageDec SPAN {
	FLOAT: none
}
#pageArea #pageDec SPAN.sDisable {
	COLOR: #ccc
}
#pageArea #pageSelect {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 140px
}
#pageArea LABEL {
	FLOAT: left
}
#pageArea SPAN {
	FLOAT: left
}
#pageArea INPUT {
	FLOAT: left
}
#pageArea #pageJump {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 6px 4px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 20px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; TEXT-ALIGN: center
}
#pageArea .btn2 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #ebebeb; MARGIN: 6px 0px 0px 8px; BORDER-LEFT: #ccc 1px solid; WIDTH: 3em; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
#aNewsCenter {
	DISPLAY: block; MARGIN: 100px auto 35px; TEXT-ALIGN: right
}
.dMood {
	PADDING-RIGHT: 60px; PADDING-LEFT: 60px; FONT-SIZE: 12px; BACKGROUND: #f3f2f2; MARGIN-BOTTOM: 50px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 16px; HEIGHT: 104px
}
.dMood STRONG {
	PADDING-LEFT: 20px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -140px; MARGIN-LEFT: 5px
}
.dMood FORM UL {
	MARGIN-LEFT: -25px; PADDING-TOP: 23px
}
.dMood FORM LI {
	DISPLAY: inline; BACKGROUND: url(con_bg01.gif) no-repeat 1px -230px; FLOAT: left; MARGIN-LEFT: 30px; WIDTH: 25px; PADDING-TOP: 25px; TEXT-ALIGN: center
}
.dMood FORM #liMr2 {
	BACKGROUND-POSITION: 1px -310px
}
.dMood FORM #liMr3 {
	BACKGROUND-POSITION: 1px -390px
}
.dMood FORM #liMr4 {
	BACKGROUND-POSITION: 1px -470px
}
.dMood FORM #liMr5 {
	BACKGROUND-POSITION: 1px -550px
}
.dMood FORM #liMr6 {
	BACKGROUND-POSITION: 1px -630px
}
.dMood FORM #liMr7 {
	BACKGROUND-POSITION: 1px -710px
}
.dMood FORM #liMr8 {
	BACKGROUND-POSITION: 1px -790px
}
.dMood LABEL {
	DISPLAY: block; MARGIN-BOTTOM: 4px
}
#mood {
	
}
#moodRes {
	PADDING-TOP: 10px; HEIGHT: 110px
}
#moodRes UL {
	MARGIN-TOP: 12px; MARGIN-LEFT: -25px
}
#moodRes LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 30px; WIDTH: 25px; TEXT-ALIGN: center
}
#moodRes LI DIV {
	BORDER-RIGHT: #e2e2e2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e2e2e2 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px auto 7px; OVERFLOW: hidden; BORDER-LEFT: #e2e2e2 1px solid; WIDTH: 14px; PADDING-TOP: 1px; BORDER-BOTTOM: #e2e2e2 1px solid; POSITION: relative; HEIGHT: 50px
}
#moodRes LI DIV SPAN {
	BACKGROUND: url(con_bg01.gif) no-repeat 0px -870px; LEFT: 1px; WIDTH: 14px; BOTTOM: 1px; POSITION: absolute; HEIGHT: 10px
}
#moodRes LI DIV .full {
	BACKGROUND-POSITION: 0px -950px; HEIGHT: 50px
}
#moodRes LI DIV #sML1 {
	HEIGHT: 30px
}
#moodRes LI DIV #sML2 {
	HEIGHT: 35px
}
#moodRes STRONG {
	PADDING-LEFT: 15px; BACKGROUND: url(con_bg01.gif) no-repeat -80px -77px
}
#moodRes STRONG A {
	TEXT-DECORATION: underline
}
#moodRes STRONG A:visited {
	TEXT-DECORATION: underline
}
#moodRes STRONG SPAN {
	FONT-WEIGHT: normal
}
#siteInfoLegal {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: url(con_dot_3x26_gray.gif); PADDING-BOTTOM: 0px; COLOR: #999; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.dLine2 {
	BORDER-TOP: #d6d6d6 1px solid; BACKGROUND: #fff; MARGIN: 60px 0px 0px -30px; WIDTH: 600px; HEIGHT: 24px
}
#feedBack {
	PADDING-RIGHT: 30px; MARGIN-TOP: 40px; PADDING-LEFT: 30px; FONT-SIZE: 12px; BACKGROUND: #f0f0f0; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 15px
}
#feedBack H3 {
	PADDING-LEFT: 20px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -170px; FLOAT: left; MARGIN-BOTTOM: 13px
}
#feedBack A {
	PADDING-LEFT: 20px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -39px; FLOAT: left; MARGIN-LEFT: 18px
}
#feedBack FORM {
	CLEAR: both
}
#feedBack TEXTAREA {
	CLEAR: both; DISPLAY: block; BACKGROUND: url(con_bg01.gif) #fff no-repeat 220px -1100px; MARGIN-BOTTOM: 13px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 120px; BORDER-BOTTOM-STYLE: none
}
#feedBack LABEL {
	FLOAT: left; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#feedBack .input1 {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; FLOAT: left; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 90px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 18px
}
#feedBack #dLoginUser {
	DISPLAY: none; FLOAT: right; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#feedBack .btn1 {
	BACKGROUND: url(con_bg01.gif) no-repeat 0px -1310px; FLOAT: right; WIDTH: 75px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 19px; BORDER-BOTTOM-STYLE: none
}
#rank {
	MARGIN-BOTTOM: 30px
}
#rank UL {
	FONT-SIZE: 12px; BACKGROUND: url(con_bg04.gif) no-repeat 0px 0px; OVERFLOW: hidden; LINE-HEIGHT: 20px; HEIGHT: 19px
}
#rank UL LI {
	BORDER-RIGHT: #fff 1px solid; FLOAT: left; WIDTH: 104px; CURSOR: pointer; COLOR: #fff; TEXT-ALIGN: center
}
#rank UL LI.liS {
	BACKGROUND: url(con_bg04.gif) no-repeat 0px -80px; COLOR: #000; LINE-HEIGHT: 22px
}
#rank OL {
	MARGIN-TOP: 18px; FONT-SIZE: 12px; LINE-HEIGHT: 26px
}
#rank OL.olHidde {
	DISPLAY: none
}
#rank OL LI {
	CLEAR: both; OVERFLOW: hidden; TEXT-ALIGN: left
}
#rank OL SPAN {
	BACKGROUND: #c7c7c7; FLOAT: left; MARGIN: 7px 18px 0px 5px; WIDTH: 14px; COLOR: #fff; LINE-HEIGHT: 14px; HEIGHT: 12px; TEXT-ALIGN: center
}
#rank OL SPAN.s3 {
	BACKGROUND: #f00
}
#rankWeek {
	DISPLAY: none
}
#rankMonth {
	DISPLAY: none
}
.dCon1 {
	MARGIN-BOTTOM: 32px; OVERFLOW: hidden; WIDTH: 315px
}
.dTit2 {
	FONT-SIZE: 12px; BACKGROUND: url(con_bg04.gif) no-repeat 0px -280px; MARGIN-BOTTOM: 12px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 22px
}
.dTit2 H2 {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; BACKGROUND: url(con_bg04.gif) no-repeat 0px -180px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px
}
.dTit2 A.aMore {
	PADDING-LEFT: 12px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -193px; FLOAT: right; COLOR: #7f8485; MARGIN-RIGHT: 10px
}
.dTit2 A.aMore:visited {
	PADDING-LEFT: 12px; BACKGROUND: url(con_bg01.gif) no-repeat 0px -193px; FLOAT: right; COLOR: #7f8485; MARGIN-RIGHT: 10px
}
.ulImgTxt1 {
	DISPLAY: inline; FONT-SIZE: 12px; BACKGROUND: url(con_bg04.gif) repeat-x 0px -428px; FLOAT: left; MARGIN-LEFT: -40px
}
.ulImgTxt1 .liImg1 {
	DISPLAY: inline; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN-LEFT: 50px; WIDTH: 122px; LINE-HEIGHT: 18px; TEXT-ALIGN: center
}
.ulImgTxt2 {
	BACKGROUND-POSITION: 0px -333px
}
.ulImgTxt1 .liImg2 {
	PADDING-BOTTOM: 10px
}
.ulImgTxt1 .liImg1 IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; DISPLAY: block; MARGIN-BOTTOM: 4px; BORDER-LEFT: #000 1px solid; WIDTH: 120px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 80px
}
.ulImgTxt1 .liTxt {
	CLEAR: both; DISPLAY: inline; PADDING-LEFT: 10px; BACKGROUND: url(con_bg01.gif) no-repeat 2px -1390px; FLOAT: left; MARGIN-LEFT: 43px; OVERFLOW: hidden; WIDTH: 300px; LINE-HEIGHT: 26px; WHITE-SPACE: nowrap
}
.ulImgTxt1 .liTxt A {
	MARGIN-RIGHT: 1em
}
.ulImgTxt1 .liTxt A:visited {
	MARGIN-RIGHT: 1em
}
#ad02 {
	MARGIN-BOTTOM: 40px; OVERFLOW: hidden; WIDTH: 315px
}
#ad03 {
	MARGIN-BOTTOM: 40px; OVERFLOW: hidden; WIDTH: 315px
}
#ad04 {
	MARGIN-BOTTOM: 40px; OVERFLOW: hidden; WIDTH: 315px
}
#ad05 {
	MARGIN-BOTTOM: 40px; OVERFLOW: hidden; WIDTH: 315px
}
#ad06 {
	MARGIN-BOTTOM: 40px; OVERFLOW: hidden; WIDTH: 315px
}
#ad03 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; WIDTH: 300px; PADDING-TOP: 0px
}
#areaVideo UL {
	BACKGROUND-POSITION: 0px -438px; MARGIN-LEFT: -45px
}
#areaVideo .liImg1 {
	MARGIN-LEFT: 72px; WIDTH: 94px
}
#areaVideo .liImg1 IMG {
	WIDTH: 92px; HEIGHT: 69px
}
.ulTxt2 LI {
	CLEAR: both; PADDING-LEFT: 2px; FONT-SIZE: 12px; OVERFLOW: hidden; WIDTH: 310px; LINE-HEIGHT: 26px; WHITE-SPACE: nowrap
}
.ulTxt2 LI .aTit {
	PADDING-RIGHT: 7px; BACKGROUND: url(con_bg01.gif) no-repeat 30px -1649px; COLOR: #999
}
.ulTxt2 LI A {
	MARGIN-RIGHT: 8px
}
.ulImgTxt1 .liTxt A:visited {
	MARGIN-RIGHT: 8px
}
#adBaidu {
	MARGIN: 30px auto 60px; WIDTH: 500px
}
#listMain #crumb {
	BACKGROUND: #f3f1f2; MARGIN-BOTTOM: 12px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
#listMain #crumb STRONG {
	PADDING-LEFT: 32px; BACKGROUND: url(con_bg01.gif) no-repeat 12px -1473px
}
#listMain #crumb A {
	BACKGROUND-POSITION: right -71px
}
#listMain .ulTxt1 {
	BACKGROUND: url(con_dot_3x1xx.gif) 0px -16px; LINE-HEIGHT: 32px
}
#listMain .ulTxt1 LI {
	CLEAR: both; PADDING-LEFT: 18px; BACKGROUND: url(con_bg01.gif) no-repeat 8px -1538px; FLOAT: left; OVERFLOW: hidden; WIDTH: 520px; LINE-HEIGHT: 32px; HEIGHT: 32px
}
#listMain .ulTxt1 LI.liE {
	MARGIN-BOTTOM: 32px
}
#listMain .ulTxt1 LI.liE2 {
	MARGIN-BOTTOM: 0px
}
#listMain .ulTxt1 LI A {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 23em
}
#listMain .ulTxt1 LI SPAN {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 110px; COLOR: #9a9a9a
}
#listMain #pageArea {
	MARGIN-BOTTOM: 40px
}
#contentImg {
	BACKGROUND: url(con_bg02.gif) repeat-y -1920px 0px
}
#contentImg .dLine1 {
	BACKGROUND-POSITION: -2880px 0px
}
#contentImg .dConL {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 20px; WIDTH: 680px; PADDING-TOP: 20px
}
#contentImg .dConL #ad01 {
	BORDER-RIGHT: #f3f1f2 69px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f3f1f2 6px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #f3f1f2 69px solid; WIDTH: 540px; PADDING-TOP: 1px; BORDER-BOTTOM: #f3f1f2 6px solid; HEIGHT: 76px
}
#contentImg #subMenu {
	WIDTH: 680px
}
#contentImg #aNewsCenter {
	MARGIN: 100px auto 50px
}
#contentImg #siteInfoLegal {
	MARGIN: 0px auto 40px
}
#contentImg .dConR {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 180px; PADDING-TOP: 20px
}
#contentImg .dConR .dCon1 {
	OVERFLOW: hidden; WIDTH: 180px
}
.ulTxt3 LI {
	CLEAR: both; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(con_bg01.gif) no-repeat 2px -1393px; MARGIN-BOTTOM: 8px; LINE-HEIGHT: 18px; TEXT-ALIGN: left
}
.ulImg {
	FONT-SIZE: 12px; MARGIN: 24px auto 30px; TEXT-ALIGN: center
}
.ulImg LI {
	MARGIN-BOTTOM: 30px; OVERFLOW: hidden; WIDTH: 182px
}
.ulImg LI IMG {
	BORDER-RIGHT: #d8d8d8 1px solid; BORDER-TOP: #d8d8d8 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d8d8d8 1px solid; WIDTH: 180px; BORDER-BOTTOM: #d8d8d8 1px solid; HEIGHT: 135px
}
#bListImg #content {
	BORDER-RIGHT: #e2e2e2 1px solid; PADDING-RIGHT: 30px; BORDER-TOP: #e2e2e2 1px solid; PADDING-LEFT: 30px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 60px; BORDER-LEFT: #e2e2e2 1px solid; WIDTH: 898px; PADDING-TOP: 20px; BORDER-BOTTOM: #e2e2e2 1px solid
}
#bListImg #crumb {
	BACKGROUND: #f3f1f2; MARGIN-BOTTOM: 30px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
#bListImg #crumb STRONG {
	PADDING-LEFT: 32px; BACKGROUND: url(con_bg01.gif) no-repeat 12px -1473px
}
#bListImg #crumb A {
	BACKGROUND-POSITION: right -71px
}
#bListImg #pageArea #pageDec {
	WIDTH: 600px
}
#bListImg #pageArea #pageDec SPAN {
	FLOAT: none; MARGIN: 0px 4px; COLOR: #666
}
#bListImg #pageArea #pageDec SPAN.sCur {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000
}
.ulImg2 {
	MARGIN-LEFT: -15px
}
.ulImg2 LI {
	PADDING-LEFT: 16px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 15px; OVERFLOW: hidden; WIDTH: 212px; LINE-HEIGHT: 18px; HEIGHT: 195px; TEXT-ALIGN: center
}
.ulImg2 LI IMG {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: block; MARGIN-BOTTOM: 5px; BORDER-LEFT: #666 1px solid; WIDTH: 210px; BORDER-BOTTOM: #666 1px solid; HEIGHT: 140px
}
.ulTxt4 LI {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(con_bg01.gif) no-repeat 4px -1541px; MARGIN-BOTTOM: 4px; LINE-HEIGHT: 22px
}
